<html ng-app="nameApp">
	<head>
		<meta charset='utf-8'>
		<title>Demo App for Names</title>
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script>
		<script src="lb-services.js"></script>
		<script src="nameApp.main.js"></script>
		<script src="nameApp.services.js"></script>
	</head>
	<body ng-controller="mainCtrl" class="container">

	<!--Show the Header-->

		<div class="row col-sm-6">
			<div class="section-header">
				<h2>Addressbook</h2>
			</div>

	<!--Show the Addresses in the Address Book-->

			<p>Search: <input ng-model="query" type="text"></p>
			<ul>
				<li ng-repeat="entry in entries | filter:query">
					<p>ID #: {{entry.id}}</p>
					<p>Name: {{entry.name}}</p>
					<p ng-repeat="contact in entry.contactInfos">{{contact.type}}: {{contact.value}}</p>
					<p>
						<a href="" ng-click="removeEntry(entry)">[Delete Entry]</a> | 
						<a href="" ng-click="editEntry(entry)">[Edit Entry]</a>
					</p>
				</li>
			</ul>
		</div>
	
	<!--Show the form for adding and editing the entries in the addressbook-->

		<div class="row col-sm-6">
			<div class="section-header">
				<h2 ng-hide="edit">Add New Entry</h2>
				<h2 ng-show="edit">Edit Entry</h2>
			</div>
			<form>
				Name: <input type="text" ng-model="form.name">
				<div ng-repeat="contact in form.contactInfos">
					<select ng-model="contact.type">
						<option>email</option>
						<option>phone</option>
					</select>
					<input type="text" ng-model="contact.value">
					<a href="" ng-click="removeContactValue(contact)">[X]</a>
				</div>
				<a href="" ng-click="addContactValue()">[+Contact Method]</a>
				<button ng-click="updateEntry()" ng-show="edit">Update</button>
				<button ng-click="addEntry()" ng-hide="edit">Add</button>
				<button ng-click="clearForm()">Clear Form</button>
			</form>
			<pre>{{form | json}}</pre>
		</div>

	<!-- Show a pre block with the entry data from the loopback server-->
		
		<div class="row col-sm-12">
			<div class="section-header">
				<h2>Data from the loopback server</h2>
			</div>
			<div class="row">
				<pre>{{entries | json}}</pre>
			</div>
		</div>
	</body>
</html>
